mat-card {
  width: 12.5vh;
  height: 12.5vh;
}

mat-card-header {
  background-color: #ff4081;
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
}

mat-card-title {
  padding-top: 1vh;
}
